<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Groupie Trackers</title>

    </style>
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
      <a class="active" href="/">Home</a>
      <a href="/dates">Dates</a>
      <a href="/loc">Locations</a>
      <a href="/rel">Relations</a>
    </div>

    <h1>Band Information</h1>

    <!-- Alphabet Links -->
    <div class="search">
      {{range $i, $letter := .Alphabet}}
      <a class="letter-link" href="/?letter={{$letter}}">{{$letter}}</a>
      {{end}}
    </div>

    {{if .Artists}}
    <div class="band-container">
      {{range .Artists}}
      <div class="band-info">
        <img class="resize" src="{{.Image}}" alt="{{.Name}}" />
        <p><strong>Name:</strong> {{.Name}}</p>
        <p><strong>Members:</strong> {{range .Members}}{{.}}, {{end}}</p>
        <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
      </div>
      {{end}}
    </div>
    {{else}}
    <p class="no-bands">There are no bands added yet.</p>
    {{end}}
    <p id="test"></p>
    <script src="static/js/main.js"></script>
  </body>
</html>
