<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Groupie Trackers</title>
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
      <a class="btn" href="/">Home</a>
      <a class="btn" href="/dates">Dates</a>
      <a class="btn" href="/loc">Locations</a>
      <a class="btn active" href="/rel">Relations</a>
    </div>

    <h1>Relations Information</h1>
    <div class="search">
      {{range $i, $letter := .Alphabet}}
      <a class="letter-link" href="/rel?letter={{$letter}}">{{$letter}}</a>
      {{end}}
    </div>
    {{if .Artists}}
    <div class="band-container">
      {{range .Artists}}
      <div class="band-info">
        <img class="resize" src="{{.Image}}" alt="{{.Name}}" />
        <p><strong>Name:</strong> {{.Name}}</p>
        <label for="dates{{.ID}}">Dates and Locations</label>
        <input type="checkbox" id="dates{{.ID}}" class="toggle-section" />
        <div class="dates-locations">
          <!-- <strong>Dates and Locations:</strong> -->
          <ul class="no-pad">
            {{range .Relations.Index}}
            {{range $key, $value := .DatesLocations}}
            <li class="no-style"><strong>{{$key}}:</strong> {{$value}}</li>
            {{end}}
            {{end}}
          </ul>
        </div>
      </div>
      {{end}}
    </div>
    {{else}}
    <p class="no-relations">No related artists found.</p>
    {{end}}
    <script src="static/js/main.js"></script>
  </body>
</html>
